/* Main page */

* {
    box-sizing: border-box;
    margin: 0 0;
    font-size: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.first-section {
    position: relative;
    background-image: url("../../assets/images/start-screen-gradient-background.png"), url("../../assets/images/start-screen-gradient-background.png");
    height: 908px;
    background-size: 100%;
    padding-top: 6rem;
    margin-bottom: 8rem;
    overflow: hidden;

}

.bg-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: 0;
}

.bg-color {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -2;
}

.first-section_header {
    margin-bottom: 4.5rem;;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-left: 3px;
    margin-bottom: 5.6rem;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: 0.06em;
    padding-bottom: 1rem;
    color: #F1CDB3;
}

.header p {
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    padding-left: 5px;
    color: #FFFFFF;

}

.header a {
    text-decoration: none;
}

.nav-menu {
    position: absolute;
    top: 24px;
    right: 1px;
}

.nav-menu_list  {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.nav-menu_item {
    margin-right: 3.3rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #CDCDCD;
}

.menu-link {
    font-size: 1.5rem;
    color: #CDCDCD;
}

.nav-menu_list li:first-child {
    border-bottom: 0.2em solid #F1CDB3;
}

.menu-link_first {
    color: #FAFAFA;
    font-size: 1.5rem;
}

.nav-menu_list li:last-child {
    margin-right: 0;
}


.first-section_content {
    display: flex;
    flex-direction: row;
    bottom: 0px;

}

.left-side_first-section {
    position: relative;
    display: block;
    flex: 50%;
    top: 166px;
}

.first-section_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.4rem;
    color: #FFFFFF;
    margin-bottom: 4.6rem;
    position: relative;
    font-weight: 400;
    line-height: 1.26em;
    letter-spacing: 0.01em;
}

.first-section_text {
    font-size: 1.5em;
    color: #CDCDCD;
    margin-bottom: 39px;
    line-height: 1.6em;
}

.first-section_button {
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 1.7rem;
    color: #292929;
    border: none;
    position: absolute;
    width: 207px;
    letter-spacing: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.right-side_first-section {
    position: relative;
    left: 10px;
}
.right-side_first_section img {
    height: 728px;
    max-width: 100%;
}

/* Вторая секция */

.second-section {
    height: 507px;
    overflow: hidden;
}

.second-section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.left-side_second-section {
    width: 45%;
}

.left-side_second-section img {
    max-height: 408px;
    position: relative;
    left: 175px;
    max-width: 100%;
}

.second-section_right-wrapper {
    width: 55%;
    padding-bottom: 1.4rem;
    position: relative;
    left: 55px;
    overflow: hidden;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    font-size: 3.5rem;
    font-weight: 400;
}

.right-side_second-section h3 {
    padding-top: 1.6rem;
    padding-bottom: -1px;
    letter-spacing: 0.06em;
    line-height: 1.3em;
}

.right-side_second-section p {
    font-size: 1.5rem;
    color: #4C4C4C;
    line-height: 1.6em;
    padding-top: 25px;
}

.right-side_second-section p:last-child {
    padding-bottom: 0;
}

.second-section_button {
    display: block;
    margin: 9rem auto 0 auto;
    height: 52px;
    width: 261px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 1.7rem;
    color: #292929;
    border: none;
    letter-spacing: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Третья секция */

.third-section {
    height: 877px;
    background-color: #F6F6F6;
    overflow: hidden;
}

.third-section_title {
    margin: 0 auto;
    margin-bottom: 14.4rem;
}


.third-section_title h3{
    position: relative;
    text-align: center;
    top: 85px;
    line-height: 1.25em;
    letter-spacing: 0.06em;
    margin-left: 0.5rem;
}

.third-section_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-pet_wrapper {
    width: 990px;
    display: flex;
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -990px;
}

.carousel-items {
    display: flex;

}

/* animation */

@keyframes move-left {
    from{left: -990px;}
    to{left:0px;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}

@keyframes move-right {
    from{left: -990px;}
    to{left: -1980px}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

.card-pet {
    margin-right: 9rem;
    width: 270px;
}

.card-pet:last-child {
    margin-right: 0;
}

.card-pet:hover {
    cursor: grab;
}

.card-pet:hover .card-button {
    cursor: grab;
    background-color: #F1CDB3;
}

.card-pet img {
    max-width: 100%;
}

.card-name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    margin-top: 2.8rem;
    margin-bottom: 3.1rem;
}

.card-button {
    height: 52px;
    width: 187px;
    border: 0.2em solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.06em;
}

.button-arrow {
    height: 52px;
    width: 52px;
    border: 0.2em solid #F1CDB3;
    border-radius: 100px;
    margin-top: 33px;
}

.button-arrow:hover {
    background-color: #F1CDB3;
    cursor: grab;
}

.slider-right {
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.arrow-right {
    transform: rotate(-180deg);
}

/* popup */

.popup_background {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    overflow: hidden;
    z-index: 50;
    opacity: 0;
}

.popup_background.active {
    opacity: 1;
    pointer-events: all;
}

.body-noscroll {
    overflow: hidden;
}

.popup-content_container {
    position: relative;
    min-width: 900px;
    min-height: 500px;
    position: fixed;
    z-index: 100;
    background: white;
    border-radius: 0.9rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.popup-content_container.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.close-popup_btn {
    position:absolute;
    width: 52px;
    height: 52px;
    position: fixed;
    border: 2px solid #F1CDB3;
    border-radius: 30px;
    background: transparent;
    font-size: 2rem;
    color: #292929;
    top:100px;
    left: 550px;
}

.close-popup_btn:hover {
    cursor: pointer;
}

/* left side of the popup windom */
.popup-left_wrapper {
    width: 55%;
}

.popup-img_wrapper img {
    width: 100%;
    overflow: hidden;
}

/* right  side of the popup windom */

.popup-right_wrapper {
/*     display: flex;
    flex-direction: column; */
    width: 45%;
    padding: 0.4rem 1.4rem 12.6rem 3.7rem;
    height: 100%;
    margin-bottom: 1rem;
    margin-top: 48px;
}

.popup-header_wrapper {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.popup-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 1.1rem;
}

.popup-header_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
}

.popup-text_wrapper {
    display: flex;
    flex-direction: column;
    height: 117px;
    justify-content: space-between;
}

.list {
    margin-bottom: 1rem;

}

.popup-text_content_list {
    list-style: none;
    padding-left: 1.4px;

}


.list::before {
    color: #F1CDB3;
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }


.popup-text_content_one{
    margin-bottom: 4rem;
}

.popup-text_content_one, .list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
}


.list > span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
}



/* Четвертая секция */

.fourth-section {
    height: 611px;
    overflow: hidden;
}

.fourth-section_title {
    height: 120px;
    margin-bottom: 11.1rem;
}

.fourth-section_title h3 {
    position: relative;
    text-align: center;
    top: 84px;
    line-height: 1.25em;
    letter-spacing: 0.06em;
}

.fourth-section_help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-icons {
    display: inline-block;
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 5.5rem;
}


.help-icons img {
    margin-bottom: 2.8rem;
    display: inline-block;
    height: 60px;
}

.help-icons p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

/* Пятая секция */

.fifth-section {
    height: 466px;
    background: #F6F6F6;
    overflow: hidden;
}

.fifth-section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8.3rem;
    width: 100%;
}

.left-side_fifth-section {
    width: 55%;
}

.left-side_fifth-section img {
    position: relative;
    padding-bottom: 7px;
    left: 142px;
    max-width: 100%;
}

.fifth-section_right-wrapper {
    display: block;
    width: 45%;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.right-side_fifth-section h3 {
    letter-spacing: 0.06em;
    line-height: 130%;
    margin-bottom: 1.9rem;
}

.right-side_fifth-section h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.65rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-bottom: 1.9rem;
}

.block-account {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.block-account img {
    width: 30px;
    height: 23px;
    position: relative;
    top: 10px;
    left: 15px;
}

.block-account p {
    position: relative;
    top: 8px;
    left: 30px;
}

.block-account_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #545454;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.card-instructions {
    font-size: 1.2rem;
    font-style: italic;
    color: #B2B2B2;
    line-height: 1.5em;
}

/* Шестая часть - footer */

.footer {
    min-height: 350px;
    background-image: url("../../assets/images/footer-gradient-background.png");
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-size: cover;
    bottom: 0px;

}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_left-side_center-side_wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    position: relative;
    left: 0;
    top: 0;
}

.footer_left-side {
    display: block;
    padding-top: 5.8rem;
    width: 40%;
}

.footer_left-side h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    margin-bottom: 4.3rem;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-bottom: 4.2rem;
}

.mail img {
    width: 40px;
    height: 26px;
    margin-right: 1.9rem;
}

.mail_link {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.phone {
    display: flex;
    flex-direction: row;
}

.phone img {
    width: 40px;
    height: 32px;
    margin-right: 1.9rem;
}

.phone_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0.5rem;
    text-decoration: none;
}

.footer_center {
    display: block;
    position: relative;
    padding-top: 5.8rem;
    right: 45px;
    top: 0;
}

.footer_center h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    margin-bottom: 3rem;
    display: inline-block;
}

.location-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.3rem;
}

.location_icon {
    width: 22px;
    height: 32px;
    margin-right: 1.9rem;
}

.location-first p {
    padding-top: 3px;
}

.location-first_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.location-second {
    display: flex;
    flex-direction: row;
}

.location-second p {
    padding-top: 0.5rem;
}

.location-second_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.footer_image {
    position: relative;
    max-width: 300px;
}

.footer_image img {
    position: absolute;
    bottom: 0;
    top: 40px;
    left: 122px;
}


@media (max-width: 1279px) {
    .container {
        width: 720px;
    }

    .first-section {
        height: 1165px;
        padding-top: 2.5rem;
        margin-bottom: 6.3rem;
        background-size: cover;
    }


    .nav-menu_item {
        margin-right: 4rem;
    }


    .first-section_content {
        flex-direction: column;
    }

    .left-side_first-section {
        top: 3px;
        margin: 0 auto;
        margin-bottom: 108px;
    }

    .first-section_button-container {
        text-align: center;
    }

    .first-section_button {
        position: relative;
    }

    .right-side_first-section {
        left:147px;
        width: 569px;
        bottom: 3px;
    }

    .first-section_dog-picture {
        width: 569px;
    }

    /* Вторая секция */

    .second-section {
        height: 981px;
    }

    .second-section_content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .second-section_right-wrapper {
        width: 100%;
        left: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 6.3rem;
    }

    .left-side_second-section {
        width: 100%;
    }

    .left-side_second-section img {
        left: 208px;
    }

    /* Третья секция */

    .carousel .card-pet:last-child {
        display: none;
    }

    .card-pet {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    /* Четвертая секция */

    .fourth-section {
        height: 779px;
    }

    .help-icons {
        margin-right: 3.0rem;
        margin-left: 3.0rem;
        width: 170px;
    }

    /* Пятая секция */

    .fifth-section {
        height: 783px;
    }

    .fifth-section_content {
        flex-direction: column-reverse;
    }

    .fifth-section_right-wrapper {
        width: 100%;
        left: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 0;
        position: relative;
        right: 12px;
        margin-bottom: 4.8rem;
    }

    .left-side_fifth-section {
        width: 100%;
        position: relative;
        right: 33px;
    }

    .footer {
        min-height: 639px;
    }

    .footer_content {
        display: flex;
        flex-direction: column;
    }

    .footer_left-side_center-side_wrapper {
        width: 100%;
        justify-content: center;
        margin-bottom: 6.3rem;
    }

    .footer_left-side {
        width: 47%;
        padding-top: 3.2rem;
    }

    .footer_center {
        right: auto;
        padding-top: 3.2rem;
    }


    .footer_right-side {
        width: 100%;
        position: relative;
        bottom: 0;
   }

    .footer_image {
        max-width: 300px;
        height: 310px;
        margin: 0 auto;
        position: relative;
    }

    .footer_image img {
        position: absolute;
        max-height:100%;
        max-width: 100%;
        left: auto;
        bottom: -1px;
        right: auto;
        top: 0px;
        overflow: hidden;
    }
}

@media (max-width:767px) {
    .container {
        width: 320px;
    }

    /* Первая секция */

    .first-section {
        height: 823px;
        margin-bottom: 2.5rem;
    }

    .header {
        padding-left: 0;
    }

    /* burger */

    .burger {
        width: 30px;
        position: absolute;
        top: 23px;
        right: 54px;
        height: 22px;
        z-index: 110;
    }

    .burger span {
        height: 2px;
        width: 100%;
        display: block;
        background: #F1CDB3;
        margin-bottom: 8px;
        position: relative;
        transition: 1s all;
    }

    .burger span:last-child {
        margin-bottom: 0;
    }

    .burger_active span:nth-child(1) {
        transform: translateX(-1px) rotate(-90deg);
        right: 8px;
        top: 10px;
        margin-left: -1px;
    }

    .burger_active span:nth-child(2) {
        transform: translateX(-1px) rotate(-90deg);
        margin-left: 1px;

    }

    .burger_active span:nth-child(3) {
        transform: translateX(-1px) rotate(-90deg);
        left: 8px;
        bottom: 10px;
        margin-left: 3px;
    }

    .burger_background {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(41, 41, 41, 0.6);
        overflow: hidden;
        z-index: 50;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    .burger_background_active {
        opacity: 1;
        pointer-events: all;
    }

    .body-noscroll {
        overflow: hidden;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background: #292929;
        width: 320px;
        z-index: 100;
        transition: 0.5s all;
    }

    .nav-menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 0;
    }

    .nav-menu_item {
        font-size: 3rem;
        margin-right: 0;
        text-align: center;
        color: #CDCDCD;
    }

    .nav-menu_list li:first-child {
        border-bottom: 0.1em solid #F1CDB3;
        color: #FAFAFA;
    }

    .nav-menu_active {
        right: 0;
        pointer-events: all;
    }

    .logo-link {
        padding-left: 1rem;
        z-index: 15;
    }

    .menu-link, .menu-link_first {
        font-size: 2rem;
    }

    .first-section_content {
        flex-direction: column;
        margin: 0 auto;
    }

    .left-side_first-section {
        text-align: center;
        margin-bottom: 113px;
    }

    .first-section_title {
        font-size: 2.5rem;
        letter-spacing: 0.06em ;
        margin-bottom: 4.2rem;
    }

    .first-section_text br {
        display: none;
    }

    .first-section_text {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 4.2rem;
    }

    .first-section_dog-picture {
        width: 260px;
    }

    .right-side_first-section {
        left: 50px;
    }

    .nav-menu_item {
        margin-bottom: 30px;
    }

    /* Вторая часть */

    .second-section {
        height: 950px;
    }

    .second-section_content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .right-side_second-section {
        text-align: center;
    }

    .second-section_text-title {
        font-size: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .second-section_text {
        font-size: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        text-align: justify;
    }

    .second-section_right-wrapper {
        margin-bottom: 2.4rem;
    }

    .second-section_text br {
        display: none;
    }

    .left-side_second-section{
        text-align: center;
    }

    .left-side_second-section img {
        left: auto;
        height: auto;
        max-width: 260px;
    }

    /* Третья секция */

    .third-section {
        height: 791px;
    }

    .third-section_cards {
        position: relative;
    }

    .third-section_title {
        margin-bottom: 4.3rem;
    }

    .third-section_title h3 {
        font-size: 2.5rem;
        top: auto;
        padding-top: 4.2rem;
    }

    .carousel .card-pet:not(:first-child) {
        display: none;
    }

    .slider {
        position: absolute;
        bottom: -10rem;
    }

    .slider-left {
        left: 7rem;
    }

    .slider-right {
        right: 7rem;
    }

    .third-section_cards {
        justify-content: center;
    }

    .second-section_button-container {
        margin-top: 14.3rem;
    }

   /*  Четвертая секция */
   .fourth-section {
        height: 745px;
    }

    .fourth-section_title h3 {
        font-size: 2.5rem;
        top: 4.2rem;
    }

    .fourth-section_title {
        margin-bottom: 2.7rem;
    }

    .fourth-section_help-items {
        display: table;
    }

    .help-icons {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        max-width: 130px;
        margin-bottom: 3rem;
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .fourth-section_help-items:after {
        clear: both;
      }

    .help-icons p {
        font-size: 1.5rem;
    }

    .help-icons img {
        height: 50px;
        margin-bottom: 1.8em;
    }

    /* Пятая секция */

    .fifth-section {
        height: 542px;
    }

    .fifth-section_content {
        flex-direction: column-reverse;
        padding-top: 4.1rem;
    }

    .right-side_fifth-section h3 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2.1rem;
    }

    .right-side_fifth-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fifth-section_right-wrapper {
        right: auto;
    }

    .right-side_fifth-section h5 {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0;
        margin-bottom: 2.3rem;
    }

    .block-account {
        max-width: 281px;
    }

    .block-account_link {
        font-size: 1.5rem;

    }

    .block-account p {
        top: 2px;
        left: 7px;
        margin: auto;
    }

    .card-instructions {
        text-align: justify;
        margin: auto 2rem;
    }

    .card-instructions br {
        display: none;
    }

    .left-side_fifth-section {
        display: flex;
        justify-items: center;
        right: auto;
        max-width: 26em;
    }

    .left-side_fifth-section img {
        width: 100%;
        left: auto;
    }

    .fifth-section_right-wrapper {
        margin-bottom: 3.4rem;
    }

    /* footer */

    .footer {
        min-height: 809px;
    }

    .footer_content {
        position: relative;
    }

    .footer_left-side_center-side_wrapper {
        flex-direction: column;
        width: 100%;
        margin-bottom: 4.2rem;
    }

    .footer_left-side {
        width: 100%;
        padding-top: 3rem;
    }

    .mail {
        max-width: 251px;
        margin-left: auto;
        margin-right: auto;
    }

    .phone {
        max-width: 239px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_left-side h3, .footer_center h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    .footer_left-side_h3 br {
        display: none;
    }

    .footer_center {
        padding-top: 3.9rem;
        text-align: center;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer_center_h3 br {
        display: none;
    }

    .footer_center_h3 {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3.5rem;
    }

    .location-first {
        margin-bottom: 3.8rem;
    }

    .location-first p {
        text-align: left;
    }


    .footer_right-side {
        position: relative;
        min-height: 269px;
    }


    .footer_image {
        max-width: 260px;
        height: 269px;
        position: relative;
    }

    .footer_image img {
        position: absolute;
        max-height:100%;
        max-width: 100%;
        left: auto;
        top: 7px;
    }
}

    @media (max-width: 319px) {
        .container {
            width: 100%;
        }
    }