

* {
    box-sizing: border-box;
    margin: 0 0;
    font-size: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.first-section {
    position: relative;
    background-image: url("../../assests/images/start-screen-gradient-background.png"), url("../../assests/images/start-screen-gradient-background.png");
    height: 908px;
    background-size: 100%;
    padding-top: 60px;
    margin-bottom: 80px;

}

.bg-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: 0;
}

.bg-color {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -2;
}

.first-section_header {
    margin-bottom: 45px;;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-left: 3px;
    margin-bottom: 56px;;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 3.2em;
    letter-spacing: 0.06em;
    padding-bottom: 10px;
}

header p {
    font-size: 1.3em;
    letter-spacing: 0.1em;
    padding-left: 5px;

}

header a {
    text-decoration: none;
    color: #F1CDB3;
}

.nav-menu {
    position: absolute;
    top: 24px;
    right: 1px;
}

.nav-menu_list  {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.nav-menu_item {
    margin-right: 33px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #CDCDCD;
}

.menu-link {
    font-size: 1em;
    color: #CDCDCD;
}

.nav-menu_list li:first-child {
    border-bottom: 0.2em solid #F1CDB3;
}

.menu-link_first {
    color: #FAFAFA;
    font-size: 1em;
}

.nav-menu_list li:last-child {
    margin-right: 0;
}


.first-section_content {
    display: flex;
    flex-direction: row;
    bottom: 0px;

}

.left-side_first-section {
    position: relative;
    display: block;
    flex: 50%;
    top: 166px;
}

.first-section_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.4em;
    color: #FFFFFF;
    margin-bottom: 46px;
    position: relative;
    font-weight: 400;
    line-height: 1.26em;
    letter-spacing: 0.01em;
}

.first-section_text {
    font-size: 1.5em;
    color: #CDCDCD;
    margin-bottom: 39px;
    line-height: 1.6em;
}

.first-section_button {
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 1.7em;
    color: #292929;
    border: none;
    position: absolute;
    width: 207px;
    letter-spacing: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
/*     display: inline-block
    width: 100% */

}

.right-side_first-section {
    position: relative;
    left: 10px;
}
.right-side_first_section img {
    height: 728px;
}

.second-section {
    height: 507px;

}
.second-section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.left-side_second-section {
    width: 45%;
}

.left-side_second-section img {
    height: 408px;
    position: relative;
    left: 175px;

}

.right-side_second-section {
    width: 55%;
    padding-bottom: 14px;
    position: relative;
    left: 55px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    font-size: 3.5em;
    font-weight: 400;
}

.right-side_second-section h3 {
    padding-top: 16px;
    padding-bottom: -1px;
    letter-spacing: 0.06em;
    line-height: 1.3em;
}

.right-side_second-section p {
    font-size: 1.5em;
    color: #4C4C4C;
    line-height: 1.6em;
    padding-top: 25px;
}

.right-side_second-section p:last-child {
    padding-bottom: 0;
}

.second-section_button {
    display: block;
    margin: 90px auto 0 auto;
    height: 52px;
    width: 261px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 1.7em;
    color: #292929;
    border: none;
    letter-spacing: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.third-section {
    height: 877px;
    background-color: #F6F6F6;

}

.third-section_title {
    margin: 0 auto;
    margin-bottom: 144px;

}


.third-section_title h3{
    position: relative;
    text-align: center;
    top: 85px;
    line-height: 1.25em;
    letter-spacing: 0.06em;
    margin-left: 5px;
}

.third-section_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-pet {
    margin-left: 34px;
    margin-right: 33px;
    width: 270px;
}

.card-pet:hover {
    cursor: grab;
}

.card-pet:hover .card-button {
    cursor: grab;
    background-color: #F1CDB3;
}



.card-name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 0.06em;
    margin-top: 28px;
    margin-bottom: 31px;
}

.card-button {
    height: 52px;
    width: 187px;
    border: 0.2em solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    display: block;
    margin: 0 auto;
    letter-spacing: 0.06em;
}

.button-arrow {
    height: 52px;
    width: 52px;
    border: 0.2em solid #F1CDB3;
    border-radius: 100px;
    margin-top: 33px;
}

.button-arrow:hover {
    background-color: #F1CDB3;
}

.slider-right {
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.arrow-right {
    transform: rotate(-180deg);
}


.fourth-section {
    height: 611px;
}

.fourth-section_title {
    height: 120px;
    margin-bottom: 111px;
}

.fourth-section_title h3 {
    position: relative;
    text-align: center;
    top: 84px;
    line-height: 1.25em;
    letter-spacing: 0.06em;

}

.fourth-section_help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.help-icons {
    display: inline-block;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 55px;
}


.help-icons img {
    margin-bottom: 28px;
    display: inline-block;
    height: 60px;
}

.help-icons p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.fifth-section {
    height: 466px;
    background: #F6F6F6;
}

.fifth-section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 83px;
    width: 100%;
}

.left-side_fifth-section {
    width: 55%;

}

.left-side_fifth-section img {
    position: relative;
    padding-bottom: 7px;
    left: 142px;
}

.right-side_fifth-section {
    display: block;
    width: 45%;
    padding-bottom: 10px;
    padding-left: 20px;
}

.right-side_fifth-section h3 {
    letter-spacing: 0.06em;
    line-height: 130%;
    margin-bottom: 19px;
}

.right-side_fifth-section h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.65em;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-bottom: 19px;
}

.block-account {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}

.block-account img {
    width: 30px;
    height: 23px;
    position: relative;
    top: 10px;
    left: 15px;
}

.block-account p {
    position: relative;
    top: 8px;
    left: 30px;
}

.block-account_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #545454;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.card-instructions {
    font-size: 1.2em;
    font-style: italic;
    color: #B2B2B2;
    line-height: 1.5em;
}

.footer {
    height: 350px;
    background-image: url("../../assests/images/footer-gradient-background.png");
    padding-top: 56px;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;

}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_left-side {
    display: block;
    width: 33.333333%;
    position: relative;
    left: 0;
    top: 0;
}

.footer_left-side h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    margin-bottom: 43px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-bottom: 42px;
}

.mail img {
    width: 40px;
    height: 26px;
    margin-right: 19px;
}

.mail_link {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.phone {
    display: flex;
    flex-direction: row;
}

.phone img {
    width: 40px;
    height: 32px;
    margin-right: 19px;
}

.phone_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 5px;
    text-decoration: none;
}

.footer_center {
    display: block;
    width: 28%;
    position: relative;
    left: 0;
    top: 0;
    margin-left: 37px;
}

.footer_center h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    display: inline-block;
}

.location-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 33px;
}

.location_icon {
    width: 22px;
    height: 32px;
    margin-right: 19px;
}

.location-first p {
    padding-top: 3px;
}

.location-first_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.location-second {
    display: flex;
    flex-direction: row;
}

.location-second p {
    padding-top: 5px;
}

.location-second_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.footer_image {
    position: relative;
    height: 310px;
    width: 100%;
    left: 127px;
    bottom: 20px;
    overflow: hidden;
}




