/* Pets page */

* {
    box-sizing: border-box;
    margin: 0 0;
    font-size: 10px;
    color:#545454;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    position: relative;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    height: 120px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.1rem;
    padding-left: 3.8rem;
    margin-bottom: 5.6rem;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-bottom: 0.8rem;
}

header p {
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    padding-left: 0.5rem;
}


nav {
    position: absolute;
    top: 5rem;
    right: 4rem;
}

.nav-menu_list {
    display: flex;
    flex-direction: row;
}

.nav-menu_item {
    list-style-type: none;
    font-size: 1.5rem;
    margin-right: 3.6rem;
    padding-bottom: 3px;
}

.menu-link, .logo-link {
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-link_main {
    font-size: 1.5rem;
    text-decoration:none;
    color: #292929;
}

.nav-menu_item:nth-child(2) {
    border-bottom: 0.2rem solid #F1CDB3;
}


.nav-menu_item:last-child {
    margin-right: 0px;
}

/* Основная секция */

.main-section {
    height: 1342px;
    background-color: #F6F6F6;

}

.main-section_content h2 {
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 400;
    padding-top: 8.3rem;
    letter-spacing: 0.06em;
    line-height: 1.27em;
    margin-bottom: 5.9rem;
}

.main-section_cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    margin-bottom: 3.5rem;
}

.card-pet {
    width: 270px;
    height: 435px;
    margin-right: 3.9rem;
    margin-bottom: 2.7rem;
}

.card-pet:hover {
    cursor: grab;
}

.card-pet:hover .card-button {
    cursor: grab;
    background-color: #F1CDB3;
}

.card-pet:first-child {
    margin-left: -2px;
}

.card-pet:nth-child(4) {
    margin-right: 0;
}

.card-pet:nth-child(5) {
    margin-left: -6px;
}

.card-pet:nth-child(8) {
    margin-right: 0;
}

.card-pet img {
    margin-bottom: 2.9rem;
}

.card-pet p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.06em;
}

.card-button {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 0.2em solid #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;
}

.pagination-wrapper {
    margin: 0 auto;
}

.pagination_content {
    width: 100%;
    text-align: center;
}

.pagination_content ul {
    padding: 0;
}

.pagination_content ul li {
    display: inline-block;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: center;
    margin-right: 18px;
}

.pagination-link {
    height: 52px;
    width: 52px;
    border-radius: 100px;
}

.pagination-link, .pagination-link:visited {
    display: block;
    text-decoration: none;
    border: 0.1em solid #CDCDCD;
    height: 52px;
    width: 52px;
    line-height: 45px;
}

.pagination-link:hover {
    display: block;
    text-decoration: none;
}

.pagination_content li:last-child {
    margin-right: 0px;
}

.disabled {
    pointer-events: none;
    color: #CDCDCD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.link_current-page {
    background-color: #F1CDB3;
    border: 0.1em solid #F1CDB3;
    color: #292929;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.link_next-page, .link_last-page {
    text-decoration: none;
    border: 0.1em solid #F1CDB3;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.footer {
    height: 350px;
    background-image: url("../../assets/images/footer-gradient-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    bottom: 0px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_left-side_center-side_wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    position: relative;
    left: 0;
    top: 0;
}

.footer_left-side {
    padding-top: 5.5rem;
    padding-left: 4rem;
    width: 60%;
}

.footer_left-side h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-bottom: 43px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-bottom: 41px;
    align-items: center;
}

.mail img {
    width: 40px;
    height: 26px;
    margin-right: 1.9rem;
}


.mail a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;

}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone img {
    width: 40px;
    height: 32px;
    margin-right: 1.9rem;
}

.phone a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0.5rem;
    text-decoration: none;
}

.footer_center {
    padding-top: 5.5rem;
    position: relative;
    right: -4px;
    top: 0;
}

.footer_center h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    line-height: 130%;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    margin-bottom: 3rem;
    font-weight: 400;
}

.location-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.4rem;
}

.location-first_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.location-first img {
    width: 22px;
    height: 32px;
    margin-right: 2rem;
}

.location-second {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-second img {
    width: 22px;
    height: 32px;
    margin-right: 2rem;
}

.location-second_link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}


.footer_image {
    position: relative;
    width: 300px;
}

.footer_image img {
    position: absolute;
    bottom: 0;
    top: 40px;
    right: -172px;

}

@media (max-width: 1279px) {
    .container {
        width: 720px;
    }

    .header-container {
        padding-top: 3rem;
        padding-left: 0.5rem;

    }

    nav {
        top: 49px;
        right: 31px;
    }

    .main-section {
        height: 1733px;
    }

    .main-section_content h2 {
        padding-top: 8rem;
    }

    .card-pet:first-child {
         margin-left: 0;
    }

    .card-pet {
        margin-right: 4rem;
        margin-bottom: 2.9rem;
    }

    .card-pet:nth-child(2n) {
        margin-right: 0px;
    }

    .card-pet:nth-child(7), .card-pet:nth-child(8) {
        display: none;
    }

    .main-section_content h2 {
        margin-bottom: 3.1rem;
    }

    .main-section_cards {
        margin-bottom: 1.3rem;
    }

    /* footer */

    .footer {
        height: 639px;
        position: relative;
        bottom: 0;
    }


    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer_left-side_center-side_wrapper {
        width: 100%;
        top: 0;
        padding-top: 3rem;
    }

    .footer_left-side {
        width: 50%;
    }

    .footer_center {
        right: 48px;
    }

    .footer_center, .footer_left-side {
        padding-top: 0;
    }

    .footer_right-side {
        position: relative;
        min-height: 310px;
    }

    .footer_image {
        max-width: 300px;
        height: 310px;
        position: relative;
    }

    .footer_image img {
        position: absolute;
        max-height:100%;
        max-width: 100%;
        left: auto;
        bottom: -1px;
        right: auto;
        top: 66px;
    }

}

@media (max-width:767px) {
    .container {
        width: 320px;
    }

    .header-container {
        padding-left: 1rem;
    }

    .header {
        padding-left: 0;
    }

    /* burger */

    .burger {
        width: 30px;
        position: absolute;
        top: 23px;
        right: 54px;
        height: 22px;
        z-index: 110;
    }

    .burger span {
        height: 2px;
        width: 100%;
        display: block;
        background: #F1CDB3;
        margin-bottom: 8px;
        position: relative;
        transition: 1s all;
    }

    .burger span:last-child {
        margin-bottom: 0;
    }

    .burger_active span:nth-child(1) {
        transform: translateX(-1px) rotate(-90deg);
        right: 8px;
        top: 10px;
        margin-left: -1px;
    }

    .burger_active span:nth-child(2) {
        transform: translateX(-1px) rotate(-90deg);
        margin-left: 1px;
    }

    .burger_active span:nth-child(3) {
        transform: translateX(-1px) rotate(-90deg);
        left: 8px;
        bottom: 10px;
        margin-left: 3px;
    }


    .burger_background {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(41, 41, 41, 0.6);
        overflow: hidden;
        z-index: 50;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    .burger_background_active {
        opacity: 1;
        pointer-events: all;
    }

    .body-noscroll {
        overflow: hidden;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background: #292929;
        width: 320px;
        z-index: 100;
        transition: 0.5s all;

    }

    .nav-menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 0;
    }

    .menu-link_main {
        color: #FAFAFA;
       font-size: 1.5rem;
       text-decoration:none;
    }

    .nav-menu_item {
        font-size: 3rem;
        margin-right: 0;
        text-align: center;
        color: #CDCDCD;
        margin-bottom: 30px;
    }

/*     .nav-menu_list li:nth-child(2) {
        border-bottom: 0.1em solid #F1CDB3;
        color: #FAFAFA;
    } */

    .menu-link_main {
        color: #FAFAFA;
        font-size: 2rem;
    }

    .nav-menu_active {
        right: 0;
        pointer-events: all;
    }






    .logo-link {
        padding-left: 1rem;
        z-index: 15;
    }

    .menu-link {
        font-size: 2rem;
        color: #CDCDCD;
    }



    /* .logo {
        top: 30px;
        left: 10px;
    } */

    .main-section_content h2 {
        font-size: 2.5rem;
        padding-top: 4.2rem;
        padding-bottom: 1rem;
    }

    .main-section {
        height: 1649px;
    }

    .card-pet {
        margin-right: 0px;
    }

    .card-pet:not(:nth-child(-n+3)) {
        display: none;
    }

    .pagination_content ul li {
        margin-right: 0.7rem;
    }

    .main-section_cards {
        margin-bottom: 1.6rem;
    }


    /* Footer */

    .footer {
        min-height: 809px;
    }

    .footer_left-side_center-side_wrapper {
        flex-direction: column;
        width: 100%;
        margin-bottom: 4.2rem;
        padding-top: 0;

    }

    .footer_left-side h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    .footer_left-side {
        padding-left: 0;
    }

    .footer_left-side br {
        display: none;
    }

    .footer_left-side {
        width: 100%;
        padding-top: 3rem;
    }

    .mail {
        max-width: 251px;
        margin-left: auto;
        margin-right: auto;
    }

    .phone {
        max-width: 239px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_center {
        width: 100%;
        right: auto;
        padding-top: 4rem;
    }

    .footer_center h3 {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 4rem;
    }

    .footer_center br {
        display: none;
    }

    .location {
        max-width: 300px;
        margin: 0 auto;
    }

    .location-first {
        margin-bottom: 3.8rem;
    }

    .location-first p {
        text-align: left;
    }

    .footer_image {
        max-width: 260px;
        height: 269px;
        position: relative;
    }

    .footer_image img {
        position: absolute;
        max-height:100%;
        max-width: 100%;
        left: auto;
        bottom: -1px;
        top: 0;
    }

}

@media (max-width: 319px) {
    .container {
        width: 100%;
    }
}